&lt;div class="pf-c-data-toolbar rhd-c-toolbar" id="data-toolbar-stacked-example"&gt;
  &lt;div class="pf-c-data-toolbar__content"&gt;
    &lt;div class="pf-c-data-toolbar__content-section"&gt;
      &lt;div class="pf-c-data-toolbar__group pf-m-toggle-group pf-m-show-on-md"&gt;
        &lt;div class="pf-c-data-toolbar__toggle"&gt;
          &lt;button class="pf-c-button pf-m-plain" type="button" aria-label="Show filters" aria-expanded="false" aria-controls="data-toolbar-stacked-example-expandable-content"&gt;
            &lt;i class="fas fa-filter" aria-hidden="true"&gt;&lt;/i&gt;
          &lt;/button&gt;
        &lt;/div&gt;
        &lt;div class="pf-c-data-toolbar__group"&gt;
          &lt;div class="pf-c-data-toolbar__item pf-m-label" id="filter-by-label" aria-hidden="true"&gt;Filter by&lt;/div&gt;
          &lt;div class="pf-c-data-toolbar__item"&gt;
            &lt;div class="pf-c-select"&gt;
              &lt;button class="pf-c-select__toggle pf-m-plain" type="button" id="filter-by-select" aria-haspopup="true" aria-expanded="false" aria-labelledby="filter-by-label filter-by-toggle"&gt;
                &lt;div class="pf-c-select__toggle-wrapper"&gt;
                  &lt;span class="pf-c-select__toggle-text"&gt;All DevNation&lt;/span&gt;
                &lt;/div&gt;
                &lt;i class="fas fa-caret-down pf-c-select__toggle-arrow" aria-hidden="true"&gt;&lt;/i&gt;
              &lt;/button&gt;
              &lt;div class="pf-c-select__menu" hidden aria-labelledby="filter-by-toggle"&gt;
                &lt;fieldset class="pf-c-select__menu-fieldset" aria-label="Select input"&gt;
                  &lt;label class="pf-c-check pf-c-select__menu-item" for="-select-checkbox-resource-active"&gt;
                    &lt;input class="pf-c-check__input" type="checkbox" type="checkbox" id="-select-checkbox-resource-active" name="-select-checkbox-resource-active" /&gt;
                    &lt;span class="pf-c-check__label"&gt;Active&lt;/span&gt;
                  &lt;/label&gt;
                  &lt;label class="pf-c-check pf-c-select__menu-item" for="-select-checkbox-resource-cancelled"&gt;
                    &lt;input class="pf-c-check__input" type="checkbox" type="checkbox" id="-select-checkbox-resource-cancelled" name="-select-checkbox-resource-cancelled" /&gt;
                    &lt;span class="pf-c-check__label"&gt;Cancelled&lt;/span&gt;
                  &lt;/label&gt;
                  &lt;label class="pf-c-check pf-c-select__menu-item" for="-select-checkbox-resource-paused"&gt;
                    &lt;input class="pf-c-check__input" type="checkbox" type="checkbox" id="-select-checkbox-resource-paused" name="-select-checkbox-resource-paused" /&gt;
                    &lt;span class="pf-c-check__label"&gt;Paused&lt;/span&gt;
                  &lt;/label&gt;
                  &lt;label class="pf-c-check pf-c-select__menu-item" for="-select-checkbox-resource-warning"&gt;
                    &lt;input class="pf-c-check__input" type="checkbox" type="checkbox" id="-select-checkbox-resource-warning" name="-select-checkbox-resource-warning" /&gt;
                    &lt;span class="pf-c-check__label"&gt;Warning&lt;/span&gt;
                  &lt;/label&gt;
                  &lt;label class="pf-c-check pf-c-select__menu-item" for="-select-checkbox-resource-restarted"&gt;
                    &lt;input class="pf-c-check__input" type="checkbox" type="checkbox" id="-select-checkbox-resource-restarted" name="-select-checkbox-resource-restarted" /&gt;
                    &lt;span class="pf-c-check__label"&gt;Restarted&lt;/span&gt;
                  &lt;/label&gt;
                &lt;/fieldset&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="pf-c-data-toolbar__group"&gt;
          &lt;div class="pf-c-data-toolbar__item"&gt;
            &lt;div class="pf-c-select"&gt;
              &lt;button class="pf-c-select__toggle pf-m-plain" type="button" id="-select-checkbox-status-toggle" aria-haspopup="true" aria-expanded="false" aria-labelledby="-select-checkbox-status-label -select-checkbox-status-toggle"&gt;
                &lt;div class="pf-c-select__toggle-wrapper"&gt;
                  &lt;span class="pf-c-select__toggle-text"&gt;English&lt;/span&gt;
                &lt;/div&gt;
                &lt;i class="fas fa-caret-down pf-c-select__toggle-arrow" aria-hidden="true"&gt;&lt;/i&gt;
              &lt;/button&gt;
              &lt;div class="pf-c-select__menu hidden"&gt;
                &lt;fieldset class="pf-c-select__menu-fieldset" aria-label="Select input"&gt;
                  &lt;label class="pf-c-check pf-c-select__menu-item" for="-select-checkbox-status-active"&gt;
                    &lt;span class="pf-c-check__label"&gt;Portuguese&lt;/span&gt;
                  &lt;/label&gt;
                  &lt;label class="pf-c-check pf-c-select__menu-item" for="-select-checkbox-status-cancelled"&gt;
                    &lt;span class="pf-c-check__label"&gt;Français&lt;/span&gt;
                  &lt;/label&gt;
                &lt;/fieldset&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="pf-c-data-toolbar__group"&gt;
          &lt;div class="pf-c-data-toolbar__item pf-m-label" id="sort-by-label" aria-hidden="true"&gt;Sort by&lt;/div&gt;
          &lt;div class="pf-c-data-toolbar__item"&gt;
            &lt;div class="pf-c-select"&gt;
              &lt;button class="pf-c-select__toggle pf-m-plain" type="button" id="sort-by-toggle" aria-haspopup="true" aria-expanded="false" aria-labelledby="sort-by-label sort-by-toggle"&gt;
                &lt;div class="pf-c-select__toggle-wrapper"&gt;
                  &lt;span class="pf-c-select__toggle-text"&gt;Recent&lt;/span&gt;
                &lt;/div&gt;
                &lt;i class="fas fa-caret-down pf-c-select__toggle-arrow" aria-hidden="true"&gt;&lt;/i&gt;
              &lt;/button&gt;
              &lt;div class="pf-c-select__menu" hidden&gt;
                &lt;fieldset class="pf-c-select__menu-fieldset" aria-label="Select input"&gt;
                  &lt;label class="pf-c-check pf-c-select__menu-item" for="sort-by-label-active"&gt;
                    &lt;input class="pf-c-check__input" type="checkbox" type="checkbox" id="sort-by-label-active" name="sort-by-label-active" /&gt;
                    &lt;span class="pf-c-check__label"&gt;Active&lt;/span&gt;
                  &lt;/label&gt;
                  &lt;label class="pf-c-check pf-c-select__menu-item" for="sort-by-label-cancelled"&gt;
                    &lt;input class="pf-c-check__input" type="checkbox" type="checkbox" id="-select-checkbox-type-cancelled" name="sort-by-label-cancelled" /&gt;
                    &lt;span class="pf-c-check__label"&gt;Cancelled&lt;/span&gt;
                  &lt;/label&gt;
                  &lt;label class="pf-c-check pf-c-select__menu-item" for="sort-by-label-paused"&gt;
                    &lt;input class="pf-c-check__input" type="checkbox" type="checkbox" id="-select-checkbox-type-paused" name="sort-by-label-paused" /&gt;
                    &lt;span class="pf-c-check__label"&gt;Paused&lt;/span&gt;
                  &lt;/label&gt;
                  &lt;label class="pf-c-check pf-c-select__menu-item" for="-select-checkbox-type-warning"&gt;
                    &lt;input class="pf-c-check__input" type="checkbox" type="checkbox" id="-select-checkbox-type-warning" name="-select-checkbox-type-warning" /&gt;
                    &lt;span class="pf-c-check__label"&gt;Warning&lt;/span&gt;
                  &lt;/label&gt;
                  &lt;label class="pf-c-check pf-c-select__menu-item" for="-select-checkbox-type-restarted"&gt;
                    &lt;input class="pf-c-check__input" type="checkbox" type="checkbox" id="-select-checkbox-type-restarted" name="-select-checkbox-type-restarted" /&gt;
                    &lt;span class="pf-c-check__label"&gt;Restarted&lt;/span&gt;
                  &lt;/label&gt;
                &lt;/fieldset&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
