
&lt;div class="pf-l-grid pf-m-gutter"&gt;
  &lt;div class="pf-l-grid__item pf-m-12-col-on-lg"&gt;
    &lt;table aria-label="This is an event schedule" class="pf-c-table pf-m-grid-md" id="simple-table" role="grid"&gt;
      &lt;caption&gt;
        &lt;h2&gt;Event schedule&lt;/h2&gt;
      &lt;/caption&gt;
      &lt;thead&gt;
        &lt;tr&gt;
          &lt;th&gt;Session time&lt;/th&gt;
          &lt;th&gt;Track 1&lt;/th&gt;
          &lt;th&gt;Track 2&lt;/th&gt;
        &lt;/tr&gt;
      &lt;/thead&gt;
      &lt;tbody&gt;
        &lt;tr&gt;
          &lt;td data-label="Session time"&gt;8:00 - 8:50&lt;/td&gt;
          &lt;td class="pf-u-text-align-left pf-u-text-align-center-on-md" colspan="2" data-label="Track 1 and 2"&gt;&lt;strong&gt;Registration&lt;/strong&gt;&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
          &lt;td data-label="Session time"&gt;8:50 - 9:10&lt;/td&gt;
          &lt;td class="pf-u-text-align-left pf-u-text-align-center-on-md" colspan="2" data-label="Track 1and 2"&gt;&lt;strong&gt;Welcome&lt;/strong&gt;&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
          &lt;td data-label="Session time"&gt;9:10 - 9:40&lt;/td&gt;
          &lt;td class="pf-u-text-align-left pf-u-text-align-center-on-md" colspan="2" data-label="Track 1 and 2"&gt;
            &lt;p&gt;&lt;strong&gt;Keynote: Next-generation microservices&lt;/strong&gt;&lt;/p&gt;
            &lt;p&gt;Burr Sutter&lt;/p&gt;
          &lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
          &lt;td data-label="Session time"&gt;10:00 - 11:00&lt;/td&gt;
          &lt;td data-label="Track 1"&gt;
            &lt;p&gt;&lt;strong&gt;Coding that sparks joy with Quarkus&lt;/strong&gt;&lt;/p&gt;
            &lt;p&gt;Edson Yanaga&lt;/p&gt;
          &lt;/td&gt;
          &lt;td data-label="Track 2"&gt;
            &lt;p&gt;&lt;strong&gt;9 steps to awesome with Kubernetes&lt;/strong&gt;&lt;/p&gt;
            &lt;p&gt;Burr Sutter&lt;/p&gt;
          &lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
          &lt;td data-label="Session time"&gt;11:10 - 12:10&lt;/td&gt;
          &lt;td data-label="Track 1"&gt;
            &lt;p&gt;&lt;strong&gt;Subatomic reactie streaming, programming&lt;/strong&gt;&lt;/p&gt;
            &lt;p&gt;Jason Greene&lt;/p&gt;
          &lt;/td&gt;
          &lt;td data-label="Track 2"&gt;
            &lt;p&gt;&lt;strong&gt;Sail into the cloud with Istio service mesh&lt;/strong&gt;&lt;/p&gt;
            &lt;p&gt;Kamesh Sampath&lt;/p&gt;
          &lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
          &lt;td data-label="Session time"&gt;12:10 - 1:00&lt;/td&gt;
          &lt;td class="pf-u-text-align-left pf-u-text-align-center-on-md" colspan="2" data-label="Track 1 and 2"&gt;
            &lt;p&gt;&lt;strong&gt;Lunch&lt;/strong&gt;&lt;/p&gt;
            &lt;p&gt;Networking with your fellow attendees, discuss your solutions strategies&lt;/p&gt;
          &lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
          &lt;td data-label="Session time"&gt;1:00 - 2:00&lt;/td&gt;
          &lt;td data-label="Track 1"&gt;
            &lt;p&gt;&lt;em&gt;*Hands-on workshop:&lt;/em&gt;&nbsp;&lt;strong&gt;The Java microservices tutorial with Quarkus&lt;/strong&gt;&lt;/p&gt;
            &lt;p&gt;Edson Yanaga and Alex Soto&lt;/p&gt;
          &lt;/td&gt;
          &lt;td data-label="Track 2"&gt;
            &lt;p&gt;&lt;strong&gt;Kafka, Knative, and Kubernetes! Oh my!&lt;/strong&gt;&lt;/p&gt;
            &lt;p&gt;William Markito Oliveira&lt;/p&gt;
          &lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
          &lt;td data-label="Session time"&gt;2:00 - 3:00&lt;/td&gt;
          &lt;td data-label="Track 1"&gt;
            &lt;p&gt;&lt;em&gt;*Hands-on workshop:&lt;/em&gt;&nbsp;&lt;strong&gt;The Java microservices tutorial with Quarkus (continued)&lt;/strong&gt;&lt;/p&gt;
          &lt;/td&gt;
          &lt;td data-label="Track 2"&gt;
            &lt;p&gt;&lt;strong&gt;Plumbing Kubernetes CI/CD with Tekton&lt;/strong&gt;&lt;/p&gt;
            &lt;p&gt;Kamesh Sampath&lt;/p&gt;
          &lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
          &lt;td data-label="Session time"&gt;3:00 - 3:30&lt;/td&gt;
          &lt;td class="pf-u-text-align-left pf-u-text-align-center-on-md" colspan="2" data-label="Track 1 and 2"&gt;
            &lt;p&gt;&lt;strong&gt;Coffee break&lt;/strong&gt;&lt;/p&gt;
          &lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
          &lt;td data-label="Session time"&gt;3:30 - 4:30&lt;/td&gt;
          &lt;td data-label="Track 1"&gt;
            &lt;p&gt;&lt;em&gt;*Hands-on workshop:&lt;/em&gt;&nbsp;&lt;strong&gt;Kubernetes, service mesh, &amp; serverless&lt;/strong&gt;&lt;/p&gt;
            &lt;p&gt;Kamesh Sampath and Burr Sutter&lt;/p&gt;
          &lt;/td&gt;
          &lt;td data-label="Track 2"&gt;
            &lt;p&gt;&lt;strong&gt;Cloud-native integration with Camel K&lt;/strong&gt;&lt;/p&gt;
            &lt;p&gt;Scott McCarty&lt;/p&gt;
          &lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
          &lt;td data-label="Session time"&gt;4:30 - 5:30&lt;/td&gt;
          &lt;td data-label="Track 1"&gt;
            &lt;p&gt;&lt;em&gt;*Hands-on workshop:&lt;/em&gt;&nbsp;&lt;strong&gt;Kubernetes, service mesh, &amp; serverless (continued)&lt;/strong&gt;&lt;/p&gt;
          &lt;/td&gt;
          &lt;td data-label="Track 2"&gt;
            &lt;p&gt;&lt;strong&gt;Microservices testing &amp; automation&lt;/strong&gt;&lt;/p&gt;
            &lt;p&gt;Alex Soto&lt;/p&gt;
          &lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
          &lt;td colspan="3" data-label="Note" style="text-align: center;"&gt;&lt;em&gt;*This is a hands-on, bring your own laptop coding workshop. Space is limited.&lt;/em&gt;&lt;/td&gt;
        &lt;/tr&gt;
      &lt;/tbody&gt;
    &lt;/table&gt;
  &lt;/div&gt;
&lt;/div&gt;
