/* stylelint-disable */
@media (prefers-color-scheme: dark) {
  $rhddx-color-red: lighten($color: #ee0000, $amount: 25%);
  $rhddx-color-red-dark: lighten($color: #c00, $amount: 25%);
  
  body {
  
    .pf-c-page__main-section {
      color: var(--text-color-light);
      background-color: var(--background-color-dark);
  
      .assembly &,
      .assembly.assembly-type-rich_text_columns & {
        background-color: var(--background-color-normal);
      }
  
      &.rhddx-m-homepage {
        background-color: transparent;
      }
    }
  
    .pf-c-page__sidebar {
      color: var(--text-color-light) !important;
      background-color: var(--background-color-dark);
  
      .rhddx-c-sub-menu {
        background-color: var(--background-color-dark);
      }
    }
  
    .pf-c-content {
      color: var(--text-color-light);
  
      a {
        color: $rhddx-color-blue-light;
  
        &:hover,
        &:active {
          color: darken($color: #73bcf7, $amount: 25%);
        }
  
        &.pf-c-button.pf-m-primary,
        &.pf-c-button.pf-m-heavy {
          color: var(--text-color-white);
        }
      }
    }
  
    a,
    .pf-m-link,
    .pf-c-button.pf-m-link {
      color: $rhddx-color-blue-light;
  
      &:hover,
      &:active {
        color: darken($color: #73bcf7, $amount: 25%);
      }
    }
  
    .pf-c-button {
      &:hover,
      &:active {
        color: var(--text-color-white);
      }
    }
  
    code {
      color: var(--text-color-dark);
      background-color: var(--text-color-light);
    }
  
    .rhddx-l-component-previews {
      padding: 0 8px;
    }
  
    .rhddx-c-overview-example-panel,
    .rhddx-l-component-previews {
      .pf-c-content,
      .assembly,
      .assembly.assembly-type-rich_text_columns {
        color: var(--text-color-normal);
        background-color: var(--background-color-normal);
      }

      img {
        opacity: 1;
      }

      a,
      .pf-m-link,
      .pf-c-button.pf-m-link {
        color: var(--pf-theme--color--ui-link, #06c);

        &:hover,
        &:active {
          color: var(--pf-theme--color--ui-link--hover, #004080);
        }
      }
    }
  }

  .rhddx-c-nav--vertical ul li.rhddx-c-sub-menu.rhddx-m-overview a.rhddx-m-active {
    color: $rhddx-color-red !important;
    border-left-color: $rhddx-color-red !important;
  }

  .rhddx-c-nav--vertical ul li a.rhddx-m-expanded {
    color: $rhddx-color-red !important;
  }

  .rhddx-c-nav--vertical ul li,
  .rhddx-c-nav--vertical ul li a,
  .rhddx-c-nav--vertical ul li ul li a {
    color: var(--text-color-light) !important;
    background: var(--background-color-dark) !important;
    border-left-color: transparent !important;
  }

  .rhddx-c-nav--vertical ul li ul li a.rhddx-m-active,
  .rhddx-c-nav--vertical ul li ul li a:active,
  .rhddx-c-nav--vertical ul li ul li a:focus {
    border-left-color: $rhddx-color-red !important;
  }

  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }

  img:hover {
    opacity: 1;
  }

  .rhddx-c-site-search {
    color: var(--text-color-white);
    background-color: transparent;
    border: var(rhddx-global--Border-width-small) solid var(--border-color-light);
    border-bottom: var(--border-width-small) solid var(--border-color-light);
  
    &:hover {
      border-color: var(--text-color-white);
    }
  
    &:active,
    &:focus,
    &::selection {
      border-color: var(--border-color-light);
      border-bottom-color: var(--site-color-red);
    }
  }

  .rhddx-c-site-search__results {
    color: var(--text-color-white);
    li {
      color: var(--text-color-white);
      background-color: transparent;
    }
  }
}
/* stylelint-enable */