$rhddx-global--link--Color: $rhddx-color-red;
$rhddx-global--Color--100: $rhddx-color-black-900;
$rhddx-global--Color--200: $rhddx-color-black-850;
$rhddx-global--Color--white: $rhddx-color-white;
$rhddx-global--Border--grey: $rhddx-color-grey;
$rhddx-global--Border--grey-light: $rhddx-color-grey-light;
$rhddx-global--Border-width: 2px;
$rhddx-global--Border-width-small: 1px;
$rhddx-global--box-shadow: 0 0 10px 2px $rhddx-color-grey;
