:root {
  --rhddx-global--link--Color: #{$rhddx-global--link--Color};
  --rhddx-global--Color--100: #{$rhddx-global--Color--100};
  --rhddx-global--Color--200: #{$rhddx-global--Color--200};
  --rhddx-global--Color--white: #{$rhddx-global--Color--white};
  --rhddx-global--Border--grey: #{$rhddx-global--Border--grey};
  --rhddx-global--Border--grey-light: #{$rhddx-global--Border--grey-light};
  --rhddx-global--Link-color--blue: #{$rhddx-color-blue};
  --rhddx-global--Link-color--blue-light: #{$rhddx-color-blue-light};

  --rhddx-global--Border-width: #{$rhddx-global--Border-width};
  --rhddx-global--Border-width-small: #{$rhddx-global--Border-width-small};

  --rhddx-global--box-shadow: #{$rhddx-global--box-shadow};
}