&lt;div class="pf-c-card rhd-c-card"&gt;
  &lt;div class="rhd-c-card__tag"&gt;
    &lt;i class="far fa-file-code"&gt;&lt;/i&gt;
    Cheat sheet
  &lt;/div&gt;
  &lt;div class="rhd-c-card-content"&gt;
    &lt;h3 class="rhd-c-card__title rhd-m-card-title__no-image"&gt;
      Cheat sheet title that can go to two lines only and then must truncate after it passes two lines.
    &lt;/h3&gt;
    &lt;div class="rhd-c-card__footer"&gt;
      &lt;div class="rhd-c-card__footer--author"&gt;
        Author Name & Author Name
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;img src="https://developers.redhat.com/sites/default/files/styles/card_small/public/kubernetes-cheat-sheet-cover.png?itok=io1KFs4d" class="rhd-c-card__image-body"/&gt;
    &lt;div class="rhd-c-card__footer"&gt;
      &lt;div class="rhd-c-card__footer--download"&gt;
        &lt;a href="#" class="rhd-m-link"&gt;Download &lt;i class="fas fa-arrow-right"&gt;&lt;/i&gt;&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
