language: ruby
cache: bundler
rvm:
  - 2.6.3
# Only build the following branches
branches:
  only:
  - main
  - gh-pages
before_install:
- bundle install
- npm install
- npm install gulp-cli -g
- npm install github-release-notes -g
script:
- gulp deploy
install: true
deploy:
  provider: pages
  skip_cleanup: true
  local_dir: docs
  github_token: $GH_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep_history: true
  target_branch: gh-pages
  on:
    branch: main
