
&lt;div class="component rhd-c-card-grid pf-c-content"&gt;
  &lt;div class="pf-l-flex"&gt;
    &lt;h2 class="pf-c-title"&gt;Title for Assembly with Card Grid&lt;/h2&gt;
  &lt;/div&gt;
  &lt;div class="pf-l-flex rhd-c-card-grid__wrapper"&gt;
    &lt;!-- ======== CARD COMPONENTS START HERE ========= --&gt;
    &lt;div class="pf-c-card rhd-c-card"&gt;
        &lt;img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg" class="rhd-c-card__image"/&gt;
        &lt;div class="rhd-c-card__tag"&gt;
          &lt;i class="fas fa-newspaper"&gt;&lt;/i&gt;
          Opinion
        &lt;/div&gt;
        &lt;div class="rhd-c-card-content"&gt;
          &lt;h3 class="rhd-c-card__title"&gt;&lt;a href="#" class="rhd-m-link"&gt;Title of the article that can go to two lines only and then must truncate after it passes two lines.&lt;/a&gt;&lt;/h3&gt;
          &lt;p class="rhd-c-card__body "&gt;This is the article description that can go to three lines and will be followed by a footer. Must truncate after 3 lines.&lt;/p&gt;
          &lt;div class="rhd-c-card__footer"&gt;
            &lt;div class="rhd-c-card__footer--author"&gt;
              &lt;a href="#" class="rhd-m-link"&gt;Author Name&lt;/a&gt;
            &lt;/div&gt;
            &lt;div class="rhd-c-comment"&gt;
              &lt;i class="fas fa-comment"&gt;&lt;/i&gt; 2
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="pf-c-card rhd-c-card"&gt;
        &lt;img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg" class="rhd-c-card__image"/&gt;
        &lt;div class="rhd-c-card__tag"&gt;
          &lt;i class="fas fa-newspaper"&gt;&lt;/i&gt;
          Opinion
        &lt;/div&gt;
        &lt;div class="rhd-c-card-content"&gt;
          &lt;h3 class="rhd-c-card__title"&gt;&lt;a href="#" class="rhd-m-link"&gt;Title of the article that can go to two lines only and then must truncate after it passes two lines.&lt;/a&gt;&lt;/h3&gt;
          &lt;p class="rhd-c-card__body "&gt;This is the article description that can go to three lines and will be followed by a footer. Must truncate after 3 lines.&lt;/p&gt;
          &lt;div class="rhd-c-card__footer"&gt;
            &lt;div class="rhd-c-card__footer--author"&gt;
              &lt;a href="#" class="rhd-m-link"&gt;Author Name&lt;/a&gt;
            &lt;/div&gt;
            &lt;div class="rhd-c-comment"&gt;
              &lt;i class="fas fa-comment"&gt;&lt;/i&gt; 2
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="pf-c-card rhd-c-card"&gt;
        &lt;img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg" class="rhd-c-card__image"/&gt;
        &lt;div class="rhd-c-card__tag"&gt;
          &lt;i class="fas fa-newspaper"&gt;&lt;/i&gt;
          Opinion
        &lt;/div&gt;
        &lt;div class="rhd-c-card-content"&gt;
          &lt;h3 class="rhd-c-card__title"&gt;&lt;a href="#" class="rhd-m-link"&gt;Title of the article that can go to two lines only and then must truncate after it passes two lines.&lt;/a&gt;&lt;/h3&gt;
          &lt;p class="rhd-c-card__body "&gt;This is the article description that can go to three lines and will be followed by a footer. Must truncate after 3 lines.&lt;/p&gt;
          &lt;div class="rhd-c-card__footer"&gt;
            &lt;div class="rhd-c-card__footer--author"&gt;
              &lt;a href="#" class="rhd-m-link"&gt;Author Name&lt;/a&gt;
            &lt;/div&gt;
            &lt;div class="rhd-c-comment"&gt;
              &lt;i class="fas fa-comment"&gt;&lt;/i&gt; 2
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;!-- ======== END OF CARD COMPONENTS ========= --&gt;
  &lt;/div&gt;
&lt;/div&gt;
