&lt;button class="pf-c-button pf-m-heavy"&gt;Heavy&lt;/button&gt;

&lt;button class="pf-c-button pf-m-primary"&gt;Primary&lt;/button&gt;

&lt;button class="pf-c-button pf-m-secondary"&gt;Secondary (blue)&lt;/button&gt;

&lt;button class="pf-c-button pf-m-secondary-alt"&gt;Secondary (red)&lt;/button&gt;

&lt;button class="pf-c-button pf-m-tertiary"&gt;Secondary (black)&lt;/button&gt;

&lt;button class="pf-c-button pf-m-link"&gt;
  Link button (blue)
  &lt;span class="pf-c-button__icon"&gt;
    &lt;i class="fas fa-arrow-right" aria-hidden="true"&gt;&lt;/i&gt;
  &lt;/span&gt;
&lt;/button&gt;

&lt;button class="pf-c-button pf-m-link--secondary"&gt;
  Link button (black)
  &lt;span class="pf-c-button__icon"&gt;
    &lt;i class="fas fa-arrow-right" aria-hidden="true"&gt;&lt;/i&gt;
  &lt;/span&gt;
&lt;/button&gt;
