<div class="pf-l-grid__item pf-m-3-col-on-lg pf-m-12-col-on-md rhddx-c-creation-tips rhddx-c-creation-tips__box">
  <h4 class="pf-c-title pf-u-px-lg pf-u-pt-lg">Creation tips</h4>
  <section class="wrapper">
    <ul class="tabs">
      <li class="active">Compose</li>
      <li>Fields</li>
      <li>Settings</li>
    </ul>
    <ul class="tab__content">
      <li class="active">
        <div class="content__wrapper">
          <img src="{{ page.compose_image }}" alt="Image of {{ page.compose_image }}">
        </div>
      </li>
      <li>
        <div class="content__wrapper">
          <img src="{{ page.compose_image }}" alt="Image of {{ page.compose_image }}">
        </div>
      </li>
      <li>
        <div class="content__wrapper">
          <img src="{{ page.compose_image }}" alt="Image of {{ page.compose_image }}">
        </div>
      </li>
    </ul>
  </section>
  <!-- <div class="pf-c-tabs pf-m-fill" id="primary-filled">
    <button class="pf-c-tabs__scroll-button" aria-label="Scroll left">
      <i class="fas fa-angle-left" aria-hidden="true"></i>
    </button>
    <ul class="pf-c-tabs__list">
      <li class="pf-c-tabs__item pf-m-current">
        <button class="pf-c-tabs__button" id="compose-tab">Compose</button>
      </li>
      <li class="pf-c-tabs__item">
        <button class="pf-c-tabs__button" id="fields-tab">Fields</button>
      </li>
      <li class="pf-c-tabs__item">
        <button class="pf-c-tabs__button" id="settings-tab">Settings</button>
      </li>
    </ul>
    <button class="pf-c-tabs__scroll-button" aria-label="Scroll right">
      <i class="fas fa-angle-right" aria-hidden="true"></i>
    </button>
  </div>
  <section class="pf-c-tab-content" id="compose-tab" role="tabpanel" tabindex="0">
    <img src="{{ page.compose_image }}" alt="Image of {{ page.compose_image }}">
  </section>
  <section class="pf-c-tab-content pf-u-display-none" id="fields-tab" role="tabpanel" tabindex="0">Fields content</section>
  <section class="pf-c-tab-content pf-u-display-none" id="settings-tab" role="tabpanel" tabindex="0">Settings content</section> -->
</div>
