<div class="pf-l-grid__item pf-m-3-col-on-lg pf-m-12-col-on-md rhddx-c-creation-tips rhddx-c-creation-tips__box">
  <h4 class="pf-c-title pf-u-px-lg pf-u-pt-lg">Creation tips</h4>
  <section class="wrapper">
    <ul class="tabs">
      <li class="active">Compose</li>
      <li>Fields</li>
      <li>Settings</li>
    </ul>
    <ul class="tab__content">
      <li class="active">
        <div class="content__wrapper">
          <img src="{{ page.compose_image }}" alt="Image of {{ page.compose_image }}">
        </div>
      </li>
      <li>
        <div class="content__wrapper">
          <img src="{{ page.compose_image }}" alt="Image of {{ page.compose_image }}">
        </div>
      </li>
      <li>
        <div class="content__wrapper">
          <img src="{{ page.compose_image }}" alt="Image of {{ page.compose_image }}">
        </div>
      </li>
    </ul>
  </section>
</div>
