
&lt;div class="component pf-c-content rhd-c-dynamic-content-list"&gt;
  &lt;div class="pf-l-grid pf-m-gutter"&gt;
    &lt;h2 class="pf-c-title"&gt;Assembly Title&lt;/h2&gt;
    &lt;!-- Start of dynamic-content-list content container --&gt;
    &lt;div class="pf-l-grid__item pf-m-12-col pf-m-8-col-on-md"&gt;
      &lt;!-- Start of dynamic-content-list item --&gt;
      &lt;div class="pf-l-grid pf-m-gutter rhd-c-dynamic-content-list__item"&gt;
        &lt;div class="pf-l-grid__item pf-m-12-col pf-m-4-col-on-md"&gt;
          &lt;img src="https://developers.redhat.com/sites/default/files/styles/teaser/public/externals/ae1324f59d12680a2a063c02367db366.png"&gt;
        &lt;/div&gt;
        &lt;div class="pf-l-grid__item pf-m-12-col pf-m-8-col-on-md"&gt;
          &lt;h3 class="rhd-c-dynamic-content-list__item-title"&gt;&lt;a href=""&gt;Lorem Ipsum Dolar Saweet&lt;/a&gt;&lt;/h3&gt;
          &lt;small class="pf-u-mt-xs pf-u-mb-xs"&gt;July 12, 2019&lt;/small&gt;
          &lt;p&gt;Aliqua cillum aliqua sunt nostrud enim deserunt ullamco aute exercitation. Mollit mollit elit quis tempor ad. Lorem reprehenderit consequat excepteur ex. Exercitation incididunt veniam ex eiusmod deserunt duis est amet. Enim cupidatat laborum nulla officia mollit.&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;!-- End of dynamic-content-list item --&gt;
      &lt;!-- Start of dynamic-content-list item --&gt;
      &lt;div class="pf-l-grid pf-m-gutter rhd-c-dynamic-content-list__item"&gt;
        &lt;div class="pf-l-grid__item pf-m-12-col pf-m-4-col-on-md"&gt;
          &lt;img src="https://developers.redhat.com/sites/default/files/styles/teaser/public/externals/59be861947c9331a09718d6512c0416e.png"&gt;
        &lt;/div&gt;
        &lt;div class="pf-l-grid__item pf-m-8-col"&gt;
          &lt;h3 class="rhd-c-dynamic-content-list__item-title"&gt;&lt;a href=""&gt;Lorem Ipsum Dolar Saweet&lt;/a&gt;&lt;/h3&gt;
          &lt;small&gt;July 12, 2019&lt;/small&gt;
          &lt;p&gt;Aliqua cillum aliqua sunt nostrud enim deserunt ullamco aute exercitation. Mollit mollit elit quis tempor ad. Lorem reprehenderit consequat excepteur ex. Exercitation incididunt veniam ex eiusmod deserunt duis est amet. Enim cupidatat laborum nulla officia mollit.&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;!-- End of dynamic-content-list item --&gt;
      &lt;!-- Start of dynamic-content-list item --&gt;
      &lt;div class="pf-l-grid pf-m-gutter rhd-c-dynamic-content-list__item"&gt;
        &lt;div class="pf-l-grid__item pf-m-12-col pf-m-4-col-on-md"&gt;
          &lt;img src="https://developers.redhat.com/sites/default/files/styles/teaser/public/externals/6e27466d0161fa3f81a69737aec7f9c6.jpg"&gt;
        &lt;/div&gt;
        &lt;div class="pf-l-grid__item pf-m-8-col"&gt;
          &lt;h3 class="rhd-c-dynamic-content-list__item-title"&gt;&lt;a href=""&gt;Lorem Ipsum Dolar Saweet&lt;/a&gt;&lt;/h3&gt;
          &lt;small&gt;July 12, 2019&lt;/small&gt;
          &lt;p&gt;Aliqua cillum aliqua sunt nostrud enim deserunt ullamco aute exercitation. Mollit mollit elit quis tempor ad. Lorem reprehenderit consequat excepteur ex. Exercitation incididunt veniam ex eiusmod deserunt duis est amet. Enim cupidatat laborum nulla officia mollit.&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;!-- End of dynamic-content-list item --&gt;
      &lt;button class="pf-c-button pf-m-secondary"&gt;More Articles&lt;/button&gt;
    &lt;/div&gt;
    &lt;!-- End of dynamic-content-list content container --&gt;
    &lt;div class="pf-l-grid__item pf-m-12-col pf-m-4-col-on-md"&gt;
      &lt;!-- Start of Comment List Card Component --&gt;
      &lt;div class="pf-c-card rhd-c-card comment-list"&gt;
        &lt;div class="rhd-c-card-content"&gt;
          &lt;h3 class="rhd-c-card__title"&gt;Latest Comments&lt;/h3&gt;
          &lt;div class="rhd-c-card__body"&gt;
            &lt;!-- Start of comment item --&gt;
            &lt;div class="comment-list__item"&gt;
              &lt;h3 class="comment-list__item-title"&gt;10 tips for reviewing code you don’t like&lt;/h3&gt;
              &lt;p class="comment-list__item-content"&gt;“I am in a unique situation at work where I have 20+ years of experience developing our software but with an old archaic programming language. My coworkers have rewritten most...”&lt;/p&gt;
              &lt;small class="comment-list__item-date"&gt;July 18, 2019&lt;/small&gt;
              &lt;div class="comment-list__item-cta"&gt;
                &lt;a href=""&gt;Reply  &lt;i class="fas fa-arrow-right"&gt;&lt;/i&gt;&lt;/a&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- End of comment item --&gt;
            &lt;!-- Start of comment item --&gt;
            &lt;div class="comment-list__item"&gt;
              &lt;h3 class="comment-list__item-title"&gt;10 tips for reviewing code you don’t like&lt;/h3&gt;
              &lt;p class="comment-list__item-content"&gt;“I am in a unique situation at work where I have 20+ years of experience developing our software but with an old archaic programming language. My coworkers have rewritten most...”&lt;/p&gt;
              &lt;small class="comment-list__item-date"&gt;July 18, 2019&lt;/small&gt;
              &lt;div class="comment-list__item-cta"&gt;
                &lt;a href=""&gt;Reply  &lt;i class="fas fa-arrow-right"&gt;&lt;/i&gt;&lt;/a&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- End of comment item --&gt;
            &lt;!-- Start of comment item --&gt;
            &lt;div class="comment-list__item"&gt;
              &lt;h3 class="comment-list__item-title"&gt;10 tips for reviewing code you don’t like&lt;/h3&gt;
              &lt;p class="comment-list__item-content"&gt;“I am in a unique situation at work where I have 20+ years of experience developing our software but with an old archaic programming language. My coworkers have rewritten most...”&lt;/p&gt;
              &lt;small class="comment-list__item-date"&gt;July 18, 2019&lt;/small&gt;
              &lt;div class="comment-list__item-cta"&gt;
                &lt;a href=""&gt;Reply  &lt;i class="fas fa-arrow-right"&gt;&lt;/i&gt;&lt;/a&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- End of comment item --&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;!-- End of Comment List Card Component --&gt;
    &lt;/div&gt;
    &lt;!-- End of dynamic-content-list Disqus container --&gt;
  &lt;/div&gt;
&lt;/div&gt;
