/* stylelint-disable */
:root {
  --rhddx-c-label--BackgroundColor-released: #{$rhddx-color-blue};
  --rhddx-c-label--BackgroundColor-unreleased: #{$rhddx-color-gold};
  --rhddx-c-label--BackgroundColor-development: #{$rhddx-color-blue-light};
}
/* stylelint-enable */

.rhddx {
  /* stylelint-disable selector-class-pattern */
  .pf-c-label {
    text-transform: capitalize;

    &.label-released {
      --pf-c-label--Color: #f8fcff;
      --pf-c-label--BackgroundColor: var(--rhddx-c-label--BackgroundColor-released);
    }

    &.label-unreleased {
      --pf-c-label--Color: var(--text-color-normal);
      --pf-c-label--BackgroundColor: var(--rhddx-c-label--BackgroundColor-unreleased);
    }

    &.label-development {
      --pf-c-label--Color: var(--text-color-normal);
      --pf-c-label--BackgroundColor: var(--rhddx-c-label--BackgroundColor-development);
    }
  }
}
