/* stylelint-disable selector-class-pattern */
.show-content {
  display: contents !important; /* stylelint-disable-line declaration-no-important */
}

.pf-c-page__header {
  .rhddx & {
    background-color: var(--text-color-normal);
    box-shadow: rgba(3, 3, 3, .07) 0 5px 5px 3px;
  }
}

.pf-c-nav__horizontal-list .pf-c-nav__link.pf-m-hover,
.pf-c-nav__horizontal-list .pf-c-nav__link:hover,
.pf-c-nav__horizontal-list .pf-c-nav__link:active,
.pf-c-nav__horizontal-list .pf-c-nav__link:focus,
.pf-c-nav__horizontal-list .pf-c-nav__link.pf-m-current {
  .rhddx & {
    --pf-c-nav__horizontal-list-link--Color: var(--pf-c-nav__horizontal-list-link--Color);
  }
}

.rhddx-c-navigation--horizontal {
  .pf-c-page__header-nav {
    margin-bottom: 10px;
  }

  .pf-c-nav__horizontal-list .pf-c-nav__link {
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    transition: background .4s ease-in-out;
  }

  .pf-c-nav__horizontal-list .pf-c-nav__link::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: #151515;
    transition: background .2s ease-in-out;
    transform: translate3d(0, 0, 0);
  }

  .pf-c-nav__horizontal-list .pf-c-nav__link::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    display: block;
    width: 99%;
    height: 100%;
    content: "";
    background: transparent;
    background: linear-gradient(90deg, rgba(238, 0, 0, 1) 20%, rgba(228, 128, 0, 1) 40%, rgba(146, 212, 0, 1) 60%, rgba(0, 185, 228, 1) 80%);
  }

  .pf-c-nav__horizontal-list .pf-c-nav__link.pf-m-hover,
  .pf-c-nav__horizontal-list .pf-c-nav__link:hover,
  .pf-c-nav__horizontal-list .pf-c-nav__link:focus,
  .pf-c-nav__horizontal-list .pf-c-nav__link:active {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
  }

  .pf-c-nav__horizontal-list .pf-c-nav__link.pf-m-hover::before,
  .pf-c-nav__horizontal-list .pf-c-nav__link:hover::before,
  .pf-c-nav__horizontal-list .pf-c-nav__link:focus::before,
  .pf-c-nav__horizontal-list .pf-c-nav__link:active::before {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    margin-top: 2px;
    margin-left: 2px;

    /* stylelint-disable selector-max-class */
    .pf-c-nav__link {
      color: var(--text-color-white);
    }
  }

  .pf-c-nav__horizontal-list .pf-c-nav__link.pf-m-hover::after,
  .pf-c-nav__horizontal-list .pf-c-nav__link:hover::after,
  .pf-c-nav__horizontal-list .pf-c-nav__link:focus::after,
  .pf-c-nav__horizontal-list .pf-c-nav__link:active::after {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-color: transparent;
  }

  .pf-c-nav__horizontal-list .pf-c-nav__link.pf-m-current::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: calc(100% - 2px);
  }

  .pf-c-nav__horizontal-list .pf-c-nav__link.pf-m-current:hover::before,
  .pf-c-nav__horizontal-list .pf-c-nav__link.pf-m-current:focus::before,
  .pf-c-nav__horizontal-list .pf-c-nav__link.pf-m-current:active::before {
    width: calc(100% - 2px);
  }

  .pf-c-nav__link.pf-m-current {
    border-color: transparent;
  }

  .pf-c-nav__horizontal-list .pf-c-nav__link:active::after,
  .pf-c-nav__horizontal-list .pf-c-nav__link:focus::after,
  .pf-c-nav__horizontal-list .pf-c-nav__link.pf-m-current::after,
  .pf-c-nav__list .pf-m-current.pf-c-nav__link::after,
  .pf-c-nav__list .pf-m-current > .pf-c-nav__link::after, {
    .rhddx & { /* stylelint-disable selector-max-compound-selectors */
      background-color: var(--site-color-red);
    }
  }

  .pf-c-nav__list .pf-c-nav__link.pf-m-hover::after,
  .pf-c-nav__list .pf-c-nav__link:hover::after,
  .pf-c-nav__list .pf-c-nav__link.pf-m-active::after,
  .pf-c-nav__list .pf-c-nav__link:active::after {
    .rhddx & {
      background: transparent;
      background: linear-gradient(90deg, rgba(238, 0, 0, 1) 20%, rgba(228, 128, 0, 1) 40%, rgba(146, 212, 0, 1) 60%, rgba(0, 185, 228, 1) 80%);
    }
  }

  .pf-c-page__header-tools-group.pf-m-icons {
    .pf-c-button.pf-m-plain.pf-m-link {
      border-color: transparent;
      border-style: solid;
      border-width: var(--border-width-small);
      border-radius: 0;

      i {
        color: var(--text-color-white) !important; /* stylelint-disable-line declaration-no-important */
      }

      i:visited {
        color: var(--text-color-white) !important; /* stylelint-disable-line declaration-no-important */
      }

      &::before,
      &.pf-m-current::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        width: 100%;
        height: 100%;
        content: "";
        background: #151515;
        transition: background .2s ease-in-out;
        transform: translate3d(0, 0, 0);
      }

      &::after,
      &.pf-m-current::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -3;
        display: block;
        width: 99%;
        height: 100%;
        content: "";
        background: transparent;
        background: linear-gradient(90deg, rgba(0, 185, 228, 1) 20%, rgba(146, 212, 0, 1) 40%, rgba(228, 128, 0, 1) 60%, rgba(238, 0, 0, 1) 80%);
      }

      &:hover::before,
      &:focus::before,
      &:active::before {
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        margin-top: 2px;
        margin-left: 2px;
      }

      &:hover::after,
      &:focus::after,
      &:active::after {
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        background-color: transparent;
      }

      &:hover::after,
      &::after,
      &:active::after {
        .rhddx & { /* stylelint-disable-line max-nesting-depth */
          background: transparent;
          background: linear-gradient(90deg, rgba(238, 0, 0, 1) 20%, rgba(228, 128, 0, 1) 40%, rgba(146, 212, 0, 1) 60%, rgba(0, 185, 228, 1) 80%);
        }
      }

      &.pf-m-current::after {
        height: calc(100% + 2px);
        background-color: transparent;
      }

      &:visited {
        color: var(--text-color-white);
      }
    }
  }
}

/*
** Vertical Navigation
*/

.rhddx-c-nav--vertical {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    border-top: none;

    & li.rhddx-c-sub-menu a { /* stylelint-disable-line */
      justify-content: space-between;
    }

    & li {
      display: block;
      background: var(--text-color-white);

      &.rhddx-c-sub-menu.rhddx-m-develop a:after { /* stylelint-disable-line */
        font-family: var(--font-family-icons);
        font-weight: 400;
        content: "\f121"; // code symbol
      }
      &.rhddx-c-sub-menu.rhddx-m-components a:after { /* stylelint-disable-line */
        font-family: var(--font-family-icons);
        font-weight: 400;
        content: "\f12e"; // puzzle piece
      }
      &.rhddx-c-sub-menu.rhddx-m-overview { /* stylelint-disable-line */
        a:after { /* stylelint-disable-line */
          content: ""; // blank
        }
        a.rhddx-m-active { /* stylelint-disable-line */
          color: var(--site-color-red); /* stylelint-disable-line */
          background: var(--text-color-white);
          border-left: var(--border-width-small) solid var(--site-color-red);
        }
      }
      &.rhddx-m-active { /* stylelint-disable-line */
        background: var(--text-color-white);

        & a { /* stylelint-disable-line */
          color: var(--site-color-red);
          border-left: var(--border-width-small) solid var(--site-color-red);
        }
        & ul { /* stylelint-disable-line */
          display: block;
        }
      }
      &:last-child { /* stylelint-disable-line */
        border-bottom: none;
      }
      & ul { /* stylelint-disable-line */
        display: none;
        margin-left: 20px;
        & li { /* stylelint-disable-line */
          display: flex;
          align-items: center;
          & a { /* stylelint-disable-line */
            justify-content: left !important; /* stylelint-disable-line */
            width: 100%;
            color: var(--text-color-normal);
            background: var(--text-color-white);
            border-left-color: var(--border-color-light);

            &::after { /* stylelint-disable-line */
              display: none;
            }
            /* stylelint-disable */
            &::active,
            &:focus {
              background: var(--text-color-white) !important;
              border-left: 2px solid var(--site-color-red) !important;
            }
            &:hover {
              padding-left: 20px;
            }
            i {
              padding-left: 16px;
            }
            .fa-exclamation-triangle {
              color: var(--rhddx-c-label--BackgroundColor-unreleased);
            }
            .fa-info-circle {
              color: var(--rhddx-c-label--BackgroundColor-development);
            }
            /* stylelint-enable */
          }
        }
      }

      & a { /* stylelint-disable-line */
        display: flex;
        padding: 8px 16px;
        color: var(--text-color-normal);
        text-decoration: none;
        border-left: var(--border-width-small) solid transparent;
        transition: .2s linear;

        &::after { /* stylelint-disable-line */
          font-family: var(--font-family-icons);
          font-weight: 400;
          content: "\f067";
        }

        i { /* stylelint-disable-line */
          display: inline-flex;
          align-self: center;
          color: var(--text-color-normal);
        }

        &.rhddx-m-expanded { /* stylelint-disable-line */
          color: var(--site-color-red);
          border-left-color: transparent;

          &:hover { /* stylelint-disable-line */
            color: var(--site-color-red);
          }

          &::after { /* stylelint-disable-line */
            font-family: var(--font-family-icons);
            font-weight: 400;
            content: "\f068";
          }
        }

        &:hover { /* stylelint-disable-line */
          position: relative;
          z-index: 1000;
          color: var(--text-color-normal);
          box-shadow:
            0 2px 7px 0 rgba(0, 0, 0, .12),
            0 -2px 7px 0 rgba(0, 0, 0, .12);
        }
      }
    }
  }
  /* stylelint-disable no-duplicate-selectors */
  .pf-c-nav__list .pf-m-current.pf-c-nav__link,
  .pf-c-nav__list .pf-m-current > .pf-c-nav__link,
  .pf-c-nav__list .pf-c-nav__link.pf-m-hover::after,
  .pf-c-nav__list .pf-c-nav__link:hover::after,
  .pf-c-nav__list .pf-c-nav__link.pf-m-active,
  .pf-c-nav__list .pf-c-nav__link:active,
  .pf-c-nav__list .pf-c-nav__link.pf-m-hover,
  .pf-c-nav__list .pf-c-nav__link:hover,
  .pf-c-nav__list .pf-c-nav__link.pf-m-active,
  .pf-c-nav__list .pf-c-nav__link:active,
  .pf-c-nav__list .pf-c-nav__link.pf-m-focus,
  .pf-c-nav__list .pf-c-nav__link:focus {
    font-weight: 400;
    color: $rhddx-color-red-dark;
  }

  .pf-c-nav__item.pf-m-expanded .pf-c-nav__toggle > * {
    content: "/f068";
  }
}

.rhddx-c-nav--vertical .active-nav {
  display: block;
}

.rhddx-c-nav--vertical .active-nav li a {
  justify-content: left;
}

.rhddx-c-nav--vertical .active-nav li .rhddx-m-active {
  border-left: 2px solid var(--site-color-red);
}
