/* PrismJS 1.19.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript+css-extras+git+json+liquid+markdown+scss+toml+yaml&plugins=show-language+toolbar+copy-to-clipboard */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

@media (prefers-color-scheme: dark) {
  .rhddx figure.highlight,
  div.code-toolbar,
  .rhddx pre[class*="language-"] {
  //  filter: invert(100%);
   background: var(--background-color-dark);
   color: var(--text-color-light);
  }
  code[class*="language-"],
  pre[class*="language-"] {
    color: var(--text-color-light) !important;
  }
}

code[class*="language-"],
pre[class*="language-"] {
  color: var(--text-color-blue-grey);
  background: none;
  font-family: var(--font-family-code);
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}


:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--background-color-normal);
 }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
 }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: rgb(63, 72, 82);
}

.token.punctuation {
  color: rgb(109, 109, 108);
}

.token.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: rgb(161, 5, 10);
  @media (prefers-color-scheme: dark) {
    color: rgb(255, 4, 192);
  }
}

.token.boolean,
.token.number {
  color: rgb(59, 30, 114);
  @media (prefers-color-scheme: dark) {
    color: rgb(168, 121, 255);
  }
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: rgb(6, 88, 109);
  @media (prefers-color-scheme: dark) {
    color: rgb(16, 207, 255);
  }
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: rgb(59, 59, 59);
  @media (prefers-color-scheme: dark) {
    color: rgb(226, 226, 226);
  }
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: rgb(57, 128, 61);
  @media (prefers-color-scheme: dark) {
    color: rgb(115, 255, 122);
  }
}

.token.keyword {
  color: rgb(13, 125, 148);
  @media (prefers-color-scheme: dark) {
    color: rgb(19, 213, 252);
  }
}

.token.regex,
.token.important {
  color: rgb(170, 101, 22);
  @media (prefers-color-scheme: dark) {
    color: rgb(255, 152, 34);
  }
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.selector > .token.class,
.token.hexcode.color,
.token.unit,
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation,
.token.namespace,
.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted,
.token.boolean,
.token.number,
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable,
.token.atrule,
.token.attr-value,
.token.function,
.token.class-name,
.token.keyword,
.token.regex,
.token.important,
.token.important,
.token.bold,
.token.italic,
.token.entity {
  &::-moz-selection { /* Code for Firefox */
    color: var(--text-color-blue-grey);
    background-color: rgb(207, 224, 243);
  }
  &::selection {
    color: var(--text-color-blue-grey);
    background-color: rgb(207, 224, 243);
  }
}

pre[class*="language-"].line-numbers {
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 19px;
  lefT: 0;
  font-size: 100%;
  width: 50px; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  background-color: var(--background-color-normal);
  border-right: var(--border-width-small) solid var(--border-color-light);
  border-left: var(--border-width-small) solid var(--border-color-light);
  @media (prefers-color-scheme: dark) {
    background-color: var(--background-color-dark);
    color: var(--text-color-light);
  }

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: rgb(94, 99, 104);
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

div.code-toolbar {
  position: relative;
}

div.code-toolbar > .toolbar {
  position: absolute;
  top: .3em;
  right: .2em;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

div.code-toolbar:hover > .toolbar {
  opacity: 1;
}

/* Separate line b/c rules are thrown out if selector is invalid.
  IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar:focus-within > .toolbar {
  opacity: 1;
}

div.code-toolbar > .toolbar .toolbar-item {
  display: inline-block;
}

div.code-toolbar > .toolbar a {
  cursor: pointer;
}

div.code-toolbar > .toolbar button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  color: rgb(187, 187, 187);
  font-size: .8em;
  padding: 0 .5em;
  background: rgb(245, 242, 240);
  background: rgba(224, 224, 224, 0.2);
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
  border-radius: .5em;
}

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
  color: inherit;
  text-decoration: none;
}

