.rhddx-c-site-search {
  background-color: transparent;
  border: var(rhddx-global--Border-width-small) solid transparent;
  border-bottom: var(--border-width-small) solid var(--text-color-white);
  color: var(--text-color-white);
  &:hover {
    border-color: var(--text-color-white);
  }
  &:active,
  &:focus,
  &::selection {
    border-color: var(--text-color-white);
    border-bottom-color: var(--site-color-red);
  }
}
