.rhddx-c-site-search {
  color: var(--text-color-normal);
  background-color: transparent;
  border: var(rhddx-global--Border-width-small) solid var(--border-color-dark);
  border-bottom: var(--border-width-small) solid var(--text-color-normal);

  &:hover {
    border-color: var(--text-color-normal);
  }

  &:active,
  &:focus,
  &::selection {
    border-color: var(--border-color-dark);
    border-bottom-color: var(--site-color-red);
  }
}
