&lt;table class="pf-c-table pf-m-expandable pf-m-grid-md rhd-c-table" role="grid" aria-label="Expandable table example" id="table-expandable"&gt;
  &lt;thead&gt;
    &lt;tr role="row"&gt;
      &lt;td role="cell"&gt;&lt;/td&gt;
      &lt;th class="pf-c-table__sort pf-m-width-30" role="columnheader" aria-sort="ascending" scope="col"&gt;
        &lt;button class="pf-c-button pf-m-plain" type="button"&gt;Event title
          &lt;span class="pf-c-table__sort-indicator"&gt;
            &lt;i class="fas fa-arrows-alt-v"&gt;&lt;/i&gt;
          &lt;/span&gt;
        &lt;/button&gt;
      &lt;/th&gt;
      &lt;th class="pf-c-table__sort pf-m-selected" role="columnheader" aria-sort="none" scope="col"&gt;
        &lt;button class="pf-c-button pf-m-plain" type="button"&gt;Start date
          &lt;span class="pf-c-table__sort-indicator"&gt;
            &lt;i class="fas fa-long-arrow-alt-down"&gt;&lt;/i&gt;
          &lt;/span&gt;
        &lt;/button&gt;
      &lt;/th&gt;
      &lt;th class="pf-c-table__sort" role="columnheader" aria-sort="none" scope="col"&gt;
        &lt;button class="pf-c-button pf-m-plain" type="button"&gt;Sign up
          &lt;span class="pf-c-table__sort-indicator"&gt;
            &lt;i class="fas fa-arrows-alt-v"&gt;&lt;/i&gt;
          &lt;/span&gt;
        &lt;/button&gt;
      &lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody role="rowgroup"&gt;
    &lt;tr role="row"&gt;
      &lt;td class="pf-c-table__toggle" role="cell"&gt;
        &lt;button class="pf-c-button pf-m-plain pf-m-expanded" aria-labelledby="table-expandable-node1 table-expandable-expandable-toggle1" id="table-expandable-expandable-toggle1" aria-label="Details" aria-controls="table-expandable-content1" aria-expanded="true"&gt;
          &lt;i class="fas fa-angle-right pf-c-table__toggle-icon" aria-hidden="true"&gt;&lt;/i&gt;
        &lt;/button&gt;
      &lt;/td&gt;
      &lt;th role="columnheader" data-label="Event title"&gt;
        &lt;p id="table-expandable-node1"&gt;Quarked testing&lt;/p&gt;
      &lt;/th&gt;
      &lt;td role="cell" data-label="Start date"&gt;April 2&lt;/td&gt;
      &lt;td role="cell" data-label="Sign up"&gt;
        &lt;button class="pf-c-button pf-m-link rhd-m-register"&gt;
          Register
          &lt;span class="pf-c-button__icon"&gt;&lt;i class="fas fa-arrow-right" aria-hidden="true"&gt;&lt;/i&gt;&lt;/span&gt;
        &lt;/button&gt;
      &lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
  &lt;tbody class="pf-m-expanded" role="rowgroup"&gt;
    &lt;tr role="row"&gt;
      &lt;td class="pf-c-table__toggle" role="cell"&gt;
        &lt;button class="pf-c-button pf-m-plain pf-m-expanded" aria-labelledby="table-expandable-node1 table-expandable-expandable-toggle1" id="table-expandable-expandable-toggle1" aria-label="Details" aria-controls="table-expandable-content1" aria-expanded="true"&gt;
          &lt;i class="fas fa-angle-down pf-c-table__toggle-icon" aria-hidden="true"&gt;&lt;/i&gt;
        &lt;/button&gt;
      &lt;/td&gt;
      &lt;th role="columnheader" data-label="Event title"&gt;
        &lt;p id="table-expandable-node1"&gt;Kubernetes Master course&lt;/p&gt;
      &lt;/th&gt;
      &lt;td role="cell" data-label="Start date"&gt;April 6&lt;/td&gt;
      &lt;td role="cell" data-label="Sign up"&gt;
        &lt;button class="pf-c-button pf-m-link rhd-m-register"&gt;
          Register
          &lt;span class="pf-c-button__icon"&gt;&lt;i class="fas fa-arrow-right" aria-hidden="true"&gt;&lt;/i&gt;&lt;/span&gt;
        &lt;/button&gt;
      &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr class="pf-c-table__expandable-row pf-m-expanded" role="row"&gt;
      &lt;td&gt;&lt;/td&gt;
      &lt;td role="cell" colspan="4" id="table-expandable-content1"&gt;
        &lt;div class="pf-c-table__expandable-row-content"&gt;
          &lt;table class="pf-c-table pf-m-compact pf-m-grid-md pf-m-no-border-rows rhd-m-nested-table" role="grid" aria-label="This is a compact table with border rows example" id="table-no-borders"&gt;
            &lt;thead&gt;
              &lt;tr role="row"&gt;
                &lt;th role="columnheader" scope="col"&gt;Master Course title&lt;/th&gt;
                &lt;th role="columnheader" scope="col"&gt;Language&lt;/th&gt;
                &lt;th role="columnheader" scope="col"&gt;CodeCasters&lt;/th&gt;
                &lt;th role="columnheader" scope="col"&gt;Date and time&lt;/th&gt;
              &lt;/tr&gt;
            &lt;/thead&gt;
            &lt;tbody role="rowgroup"&gt;
              &lt;tr role="row"&gt;
                &lt;th role="columnheader" data-label="Master Course title"&gt;
                  &lt;span id="table-no-borders-name1"&gt;Kubernetes Master Course 1&lt;/span&gt;
                &lt;/th&gt;
                &lt;td role="cell" data-label="Language"&gt;Portuguese&lt;/td&gt;
                &lt;td role="cell" data-label="CodeCasters"&gt;Edson Yanaga&lt;/td&gt;
                &lt;td role="cell" data-label="Date and time"&gt;April 4 14:00 UTC&lt;/td&gt;
              &lt;/tr&gt;
              &lt;tr role="row"&gt;
                &lt;th role="columnheader" data-label="Master Course title"&gt;
                  &lt;span id="table-no-borders-name1"&gt;Kubernetes Master Course 2&lt;/span&gt;
                &lt;/th&gt;
                &lt;td role="cell" data-label="Language"&gt;English&lt;/td&gt;
                &lt;td role="cell" data-label="CodeCasters"&gt;Burr Sutter&lt;/td&gt;
                &lt;td role="cell" data-label="Date and time"&gt;April 6 16:00 UTC&lt;/td&gt;
              &lt;/tr&gt;
            &lt;/tbody&gt;
          &lt;/table&gt;
        &lt;/div&gt;
      &lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
    &lt;tbody role="rowgroup"&gt;
    &lt;tr role="row"&gt;
      &lt;td class="pf-c-table__toggle" role="cell"&gt;
        &lt;button class="pf-c-button pf-m-plain pf-m-expanded" aria-labelledby="table-expandable-node1 table-expandable-expandable-toggle1" id="table-expandable-expandable-toggle1" aria-label="Details" aria-controls="table-expandable-content1" aria-expanded="true"&gt;
          &lt;i class="fas fa-angle-right pf-c-table__toggle-icon" aria-hidden="true"&gt;&lt;/i&gt;
        &lt;/button&gt;
      &lt;/td&gt;
      &lt;th role="columnheader" data-label="Event title"&gt;
        &lt;p id="table-expandable-node1"&gt;Kubernetes Master course&lt;/p&gt;
      &lt;/th&gt;
      &lt;td role="cell" data-label="Start date"&gt;April 9&lt;/td&gt;
      &lt;td role="cell" data-label="Sign up"&gt;
        &lt;button class="pf-c-button pf-m-link rhd-m-register"&gt;
          Register
          &lt;span class="pf-c-button__icon"&gt;&lt;i class="fas fa-arrow-right" aria-hidden="true"&gt;&lt;/i&gt;&lt;/span&gt;
        &lt;/button&gt;
      &lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
  &lt;tbody class="pf-m-expanded" role="rowgroup"&gt;
    &lt;tr role="row"&gt;
      &lt;td class="pf-c-table__toggle" role="cell"&gt;
        &lt;button class="pf-c-button pf-m-plain pf-m-expanded" aria-labelledby="table-expandable-node1 table-expandable-expandable-toggle1" id="table-expandable-expandable-toggle1" aria-label="Details" aria-controls="table-expandable-content1" aria-expanded="true"&gt;
          &lt;i class="fas fa-angle-down pf-c-table__toggle-icon" aria-hidden="true"&gt;&lt;/i&gt;
        &lt;/button&gt;
      &lt;/td&gt;
      &lt;th role="columnheader" data-label="Event title"&gt;
        &lt;p id="table-expandable-node1"&gt;Commit to excellence - Java in Containers&lt;/p&gt;
      &lt;/th&gt;
      &lt;td role="cell" data-label="Start date"&gt;April 13&lt;/td&gt;
      &lt;td role="cell" data-label="Sign up"&gt;
        &lt;button class="pf-c-button pf-m-link rhd-m-register"&gt;
          Register
          &lt;span class="pf-c-button__icon"&gt;&lt;i class="fas fa-arrow-right" aria-hidden="true"&gt;&lt;/i&gt;&lt;/span&gt;
        &lt;/button&gt;
      &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr class="pf-c-table__expandable-row pf-m-expanded" role="row"&gt;
      &lt;td&gt;&lt;/td&gt;
      &lt;td role="cell" colspan="4" id="table-expandable-content1"&gt;
        &lt;div class="pf-c-table__expandable-row-content"&gt;
          &lt;table class="pf-c-table pf-m-compact pf-m-grid-md pf-m-no-border-rows rhd-m-nested-table" role="grid" aria-label="This is a compact table with border rows example" id="table-no-borders"&gt;
            &lt;thead&gt;
              &lt;tr role="row"&gt;
                &lt;th role="columnheader" scope="col"&gt;Tech Talk title&lt;/th&gt;
                &lt;th role="columnheader" scope="col"&gt;Language&lt;/th&gt;
                &lt;th role="columnheader" scope="col"&gt;CodeCasters&lt;/th&gt;
                &lt;th role="columnheader" scope="col"&gt;Date and time&lt;/th&gt;
              &lt;/tr&gt;
            &lt;/thead&gt;
            &lt;tbody role="rowgroup"&gt;
              &lt;tr role="row"&gt;
                &lt;th role="columnheader" data-label="Tech Talk title"&gt;
                  &lt;span id="table-no-borders-name1"&gt;Commit to excellence - Java in Containers&lt;/span&gt;
                &lt;/th&gt;
                &lt;td role="cell" data-label="Language"&gt;Portuguese&lt;/td&gt;
                &lt;td role="cell" data-label="CodeCasters"&gt;Markus Eisele&lt;/td&gt;
                &lt;td role="cell" data-label="Date and time"&gt;April 9 16:00 UTC&lt;/td&gt;
              &lt;/tr&gt;
            &lt;/tbody&gt;
          &lt;/table&gt;
          &lt;h6&gt;Description&lt;/h6&gt;
          &lt;p&gt;
          This talk walks you through the why and how of Java in containers. We will talk about image size and development and deployment processes.
          &lt;/p&gt;
        &lt;/div&gt;
      &lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
  &lt;tbody role="rowgroup"&gt;
    &lt;tr role="row"&gt;
      &lt;td class="pf-c-table__toggle" role="cell"&gt;
        &lt;button class="pf-c-button pf-m-plain pf-m-expanded" aria-labelledby="table-expandable-node1 table-expandable-expandable-toggle1" id="table-expandable-expandable-toggle1" aria-label="Details" aria-controls="table-expandable-content1" aria-expanded="true"&gt;
          &lt;i class="fas fa-angle-right pf-c-table__toggle-icon" aria-hidden="true"&gt;&lt;/i&gt;
        &lt;/button&gt;
      &lt;/td&gt;
      &lt;th role="columnheader" data-label="Event title"&gt;
        &lt;p id="table-expandable-node1"&gt;Going deep (learning) with TensorFlow and Quarkus&lt;/p&gt;
      &lt;/th&gt;
      &lt;td role="cell" data-label="Start date"&gt;April 15&lt;/td&gt;
      &lt;td role="cell" data-label="Sign up"&gt;
        &lt;button class="pf-c-button pf-m-link rhd-m-register"&gt;
          Register
          &lt;span class="pf-c-button__icon"&gt;&lt;i class="fas fa-arrow-right" aria-hidden="true"&gt;&lt;/i&gt;&lt;/span&gt;
        &lt;/button&gt;
      &lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
  &lt;tbody role="rowgroup"&gt;
    &lt;tr role="row"&gt;
      &lt;td class="pf-c-table__toggle" role="cell"&gt;
        &lt;button class="pf-c-button pf-m-plain pf-m-expanded" aria-labelledby="table-expandable-node1 table-expandable-expandable-toggle1" id="table-expandable-expandable-toggle1" aria-label="Details" aria-controls="table-expandable-content1" aria-expanded="true"&gt;
          &lt;i class="fas fa-angle-right pf-c-table__toggle-icon" aria-hidden="true"&gt;&lt;/i&gt;
        &lt;/button&gt;
      &lt;/td&gt;
      &lt;th role="columnheader" data-label="Event title"&gt;
        &lt;p id="table-expandable-node1"&gt;Istio Service Mesh Master Course&lt;/p&gt;
      &lt;/th&gt;
      &lt;td role="cell" data-label="Start date"&gt;April 20&lt;/td&gt;
      &lt;td role="cell" data-label="Sign up"&gt;
        &lt;button class="pf-c-button pf-m-link rhd-m-register pf-m-disabled"&gt;
          Register
          &lt;span class="pf-c-button__icon"&gt;&lt;i class="fas fa-arrow-right" aria-hidden="true"&gt;&lt;/i&gt;&lt;/span&gt;
        &lt;/button&gt;
      &lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;
