.rhddx-c-page__home {
  background-color: transparent;
}
.rhddx-m-homepage {
  max-width: 1200px;
  margin: 0 auto;
  background-color: transparent;
  & > * {
    color: #fff;
  }
  .rhddx-l-card__intro {
    .pf-l-flex__item {
      margin-right: 0;
    }
  }
  .rhddx-m-link-header.rhddx-m-dark {
    &:hover {
      color: lighten($color: #06c, $amount: 25%);
      text-decoration: none;
    }
  }
}
