.tabs {
  display: table;
  table-layout: fixed;
  width: 100%;
  background-color: #fff;
  -webkit-transform: translateY(0);
  transform: translateY(0);

  >li {
    transition-duration: .25s;
    display: table-cell;
    list-style: none;
    text-align: center;
    padding: 10px 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: #151515;

    &:before {
      z-index: -1;
      position: absolute;
      content: "";
      width: 100%;
      height: 122%;
      top: 0;
      left: 0;
      background-color: #ee0000;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
      transition-duration: .25s;
    }

    &:hover {
      box-shadow:
        0 2px 7px 0 rgba(0, 0, 0, 0.12),
        0 -2px 7px 0 rgba(0, 0, 0, 0.12);
    }

    &.active,
    &:active,
    &:focus {
      color: #ee0000;
      transition-duration: .5s;
      &:before {
        transition-duration: .5s;
        background-color: #ee0000;
        -webkit-transform: translateY(77%);
        transform: translateY(77%);
      }
    }
  }
}

.tab__content {
  position: relative;
  width: 100%;

  >li {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    list-style: none;

    .content__wrapper {
      width: 100%;
      padding: 16px;
    }
  }
}

.content__wrapper {
  h2 {
    width: 100%;
  }
  img {
    width: 100%;
    height: auto;
  }
}
