/* styleint-disable */
div.trending-nav {
  background-color: #fff;
  border-top: 1px solid #ddd;
  box-shadow: 0 5px 5px 0 #ddd;
  overflow: auto;
  white-space: nowrap;
  max-width: 1200px;
  height: 40px;
  margin: 0 auto;
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

div.trending-nav a {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  text-transform: sentence case;
  color: #151515;
  text-align: center;
  text-decoration: none;
}
.trending-nav-item {
  margin-bottom: 0;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  max-width: 250px;
  padding: 8px 16px;
  line-height: 24px;
  color: #151515;
  &:hover {
    color: #0088ce;
  }
}
.topic-navigation__scroll-button {
  display: inline-flex !important;
  vertical-align: top;
  flex: none;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1439px) {
    position: absolute;
  }
  top: 0;
  opacity: 1;
  background: rgba(256, 256, 256, 1);
  width: 40px;
  height: 40px;
  padding: 0 8px;
  border: 1px solid transparent;
  i {
    display: flex;
    margin: 0 auto;
    align-items: center;
  }
}
.m-right {
  position: sticky;
  right: 0;
  border-left-color: #ddd;
}
.m-left {
  position: sticky;
  left: 0;
  border-right-color: #ddd;
}
.tooltip-box {
  position: absolute;
  display: flex;
  color: #fff;
  background-color: #151515;
  font-size: 14px;
  font-weight: 400px;
  max-width: 200px;
  overflow: hidden;
  white-space: normal;
  text-align: left;
  padding: 8px;
  border-radius: 3px;
  z-index: 5;
}
/* styleint-enable */