/* stylelint-disable */

div.trending-nav {
  background-color: #fff;
  border-top: 1px solid #ddd;
  box-shadow: 0 5px 5px 0 #ddd;
  overflow: auto;
  white-space: nowrap;
  max-width: 1440px;
  margin: 0 auto;
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

div.trending-nav a {
  display: inline-block;
  font-size: 0.85em;
  font-weight: 500;
  letter-spacing: 0;
  text-transform: sentence case;
  color: #737679;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.trending-nav a {
  &:hover {
    color: lighten(#151515, 50%) !important;
    text-decoration: none;
  }
}

.trending-nav__title {
  margin-bottom: 0;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  max-width: 250px;
  line-height: 24px;
  color: #151515;
  i {
    padding-right: 6px;
  }
}
i.fa-arrow-down {
  color: red;
}
i.fa-arrow-up {
  color: green;
}
.trending-nav-item ul[data-toggle="popover"] {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  max-width: 300px;
  min-width: 200px;
  white-space: normal;
  text-align: left;
  transition-property: opacity, padding, visibility;
  transition: 0.2s ease-out;
  background-color: #fff;
  box-shadow: rgba(3, 3, 3, 0.12) 0 4px 8px 0, rgba(3, 3, 3, 0.06) 0 0 4px 0;
  color: #151515;
  font-family: "RedHatText";
  font-weight: 400;
  font-size: 14px;
  list-style: none;
  h6 {
    font-family: "RedHatDisplay";
    font-weight: 600;
    font-size: 16px;
  }
}
.trending-nav-item:hover ul[data-toggle="popover"] {
  visibility: visible;
  opacity: 1;
  padding: 16px;
}
.topic-navigation__scroll-button {
  display: inline-flex !important;
  vertical-align: top;
  flex: none;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1439px) {
    position: absolute;
  }
  top: 0;
  opacity: 1;
  background: rgba(256, 256, 256, 1);
  width: 40px;
  height: 72px;
  padding: 0 8px;
  border: 1px solid transparent;
  i {
    display: flex;
    margin: 0 auto;
    align-items: center;
  }
}
.m-right {
  position: sticky;
  right: 0;
  border-left-color: #ddd;
}
.m-left {
  position: sticky;
  left: 0;
  border-right-color: #ddd;
}
/* stylelint-enable */