
&lt;div class="assembly assembly-type-product_try_it_hero component pf-l-grid pf-c-content rhd-c-product-download-hero"&gt;
  &lt;div class="pf-l-grid__item rhd-c-product-download-hero-aside"&gt;
    &lt;picture&gt;
      &lt;source media="(min-width: 480px)" srcset="https://developers.redhat.com/sites/default/files/styles/large/public/kubernetes-native-ide.png"&gt;
      &lt;source media="(min-width: 768px)" srcset="https://developers.redhat.com/sites/default/files/styles/large/public/kubernetes-native-ide.png"&gt;
      &lt;source media="(min-width: 1024px)" srcset="https://developers.redhat.com/sites/default/files/styles/large/public/kubernetes-native-ide.png"&gt;
      &lt;img src="https://developers.redhat.com/sites/default/files/styles/large/public/kubernetes-native-ide.png" alt="" class=""/&gt;
    &lt;/picture&gt;
  &lt;/div&gt;
  &lt;div class="pf-l-grid__item rhd-c-product-download-hero-content"&gt;
    &lt;div class="rhd-c-product-download-hero-header"&gt;
      &lt;h1 class="pf-c-title"&gt;Red Hat CodeReady Workspaces&lt;/h1&gt;
    &lt;/div&gt;
    &lt;div class="rhd-c-product-download-hero-body"&gt;
      &lt;p&gt;A collaborative Kubernetes-native development solution that delivers OpenShift workspaces and in-browser IDE for rapid cloud application development.&lt;a href="#"&gt;This is a test link&lt;/a&gt;&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="rhd-c-product-download-hero-footer"&gt;
      &lt;div class="rhd-c-product-download-hero-footer--cta"&gt;
        &lt;a class="pf-c-button pf-m-heavy" href="#"&gt;Download&lt;/a&gt;
        &lt;p class="rhd-c-product-download-hero-footer--version"&gt;Version 1.0.0&lt;/p&gt;
      &lt;/div&gt;
      &lt;div class="rhd-c-product-download-hero-footer--learn-more"&gt;
        &lt;button class="pf-c-button pf-m-link pf-u-pl-lg"&gt;
          Learn more
          &lt;i class="fas fa-arrow-right"&gt;&lt;/i&gt;
        &lt;/button&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
