
&lt;section class="component pf-c-content rhd-c-events-hero has-background"&gt;
  &lt;div class="pf-l-grid pf-m-gutter"&gt;
    &lt;div class="pf-l-grid__item pf-m-12-col"&gt;
      &lt;h2&gt;Title of the event&lt;/h2&gt;
    &lt;/div&gt;
    &lt;div class="pf-l-grid__item"&gt;
      &lt;h3 class="rhd-c-events-hero__item-title"&gt;&lt;a href="" class="pf-c-title"&gt;Featured event title&lt;/a&gt;&lt;/h3&gt;
      &lt;small class="pf-u-mt-sm pf-u-mb-sm"&gt;October 4, 2019&lt;/small&gt;
      &lt;p&gt;This is a short description of the event.&lt;/p&gt;
      &lt;div class="rhd-c-events-hero__item-presenters pf-u-mb-md"&gt;
        &lt;div class="pf-l-flex"&gt;
            &lt;!-- Start of Author tile --&gt;
            &lt;div class="rhd-c-author--tile"&gt;
              &lt;span class="rhd-c-author--tile-hero"&gt;
                &lt;img src="https://developers.redhat.com/sites/default/files/styles/square_small/public/080817_BURRSUTTER_6INX6IN_300DPI-min.jpg?itok=7ViRCOCR" alt="Burr Sutter" typeof="foaf:Image" width="200" height="200"&gt;
              &lt;/span&gt;
              &lt;div class="rhd-c-author--tile-info"&gt;
                &lt;div class="rhd-c-author--tile-name"&gt;
                  &lt;a href="#"&gt;Burr Sutter&lt;/a&gt;
                &lt;/div&gt;
                &lt;div class="rhd-c-author--tile-title"&gt;Chief Developer Evangelist&lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- End of Author tile --&gt;
            &lt;!-- Start of Author tile --&gt;
            &lt;div class="rhd-c-author--tile"&gt;
              &lt;span class="rhd-c-author--tile-hero"&gt;
                &lt;img src="https://developers.redhat.com/sites/default/files/styles/square_small/public/080817_BURRSUTTER_6INX6IN_300DPI-min.jpg?itok=7ViRCOCR" alt="Burr Sutter" typeof="foaf:Image" width="200" height="200"&gt;
              &lt;/span&gt;
              &lt;div class="rhd-c-author--tile-info"&gt;
                &lt;div class="rhd-c-author--tile-name"&gt;
                  &lt;a href="#"&gt;Burr Sutter&lt;/a&gt;
                &lt;/div&gt;
                &lt;div class="rhd-c-author--tile-title"&gt;Chief Developer Evangelist&lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- End of Author tile --&gt;
            &lt;!-- Start of Author tile --&gt;
            &lt;div class="rhd-c-author--tile"&gt;
              &lt;span class="rhd-c-author--tile-hero"&gt;
                &lt;img src="https://developers.redhat.com/sites/default/files/styles/square_small/public/080817_BURRSUTTER_6INX6IN_300DPI-min.jpg?itok=7ViRCOCR" alt="Burr Sutter" typeof="foaf:Image" width="200" height="200"&gt;
              &lt;/span&gt;
              &lt;div class="rhd-c-author--tile-info"&gt;
                &lt;div class="rhd-c-author--tile-name"&gt;
                  &lt;a href="#"&gt;Burr Sutter&lt;/a&gt;
                &lt;/div&gt;
                &lt;div class="rhd-c-author--tile-title"&gt;Chief Developer Evangelist&lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- End of Author tile --&gt;
            &lt;!-- Start of Author tile --&gt;
            &lt;div class="rhd-c-author--tile"&gt;
              &lt;span class="rhd-c-author--tile-hero"&gt;
                &lt;img src="https://developers.redhat.com/sites/default/files/styles/square_small/public/080817_BURRSUTTER_6INX6IN_300DPI-min.jpg?itok=7ViRCOCR" alt="Burr Sutter" typeof="foaf:Image" width="200" height="200"&gt;
              &lt;/span&gt;
              &lt;div class="rhd-c-author--tile-info"&gt;
                &lt;div class="rhd-c-author--tile-name"&gt;
                  &lt;a href="#"&gt;Burr Sutter&lt;/a&gt;
                &lt;/div&gt;
                &lt;div class="rhd-c-author--tile-title"&gt;Chief Developer Evangelist&lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- End of Author tile --&gt;
            &lt;!-- Start of Author tile --&gt;
            &lt;div class="rhd-c-author--tile"&gt;
              &lt;span class="rhd-c-author--tile-hero"&gt;
                &lt;img src="https://developers.redhat.com/sites/default/files/styles/square_small/public/080817_BURRSUTTER_6INX6IN_300DPI-min.jpg?itok=7ViRCOCR" alt="Burr Sutter" typeof="foaf:Image" width="200" height="200"&gt;
              &lt;/span&gt;
              &lt;div class="rhd-c-author--tile-info"&gt;
                &lt;div class="rhd-c-author--tile-name"&gt;
                  &lt;a href="#"&gt;Burr Sutter&lt;/a&gt;
                &lt;/div&gt;
                &lt;div class="rhd-c-author--tile-title"&gt;Chief Developer Evangelist&lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- End of Author tile --&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;button class="pf-c-button pf-u-mr-lg"&gt;Sign up&lt;/button&gt;
      &lt;button class="pf-c-button pf-u-pl-0"&gt;This is the light CTA on dark &lt;span class="pf-c-button__icon"&gt;&lt;i class="fas fa-arrow-right"&gt;&lt;/i&gt;&lt;/span&gt;&lt;/button&gt;
    &lt;/div&gt;
    &lt;div class="pf-l-grid__item sidebar"&gt;
      &lt;div class="pf-l-grid"&gt;
        &lt;div class="pf-l-grid__item pf-m-12-col pf-u-mb-xl"&gt;
          &lt;h4&gt;&lt;a href="" class="pf-c-title rhd-c-events-hero__item-title"&gt;DevNation Live London&lt;/a&gt;&lt;/h4&gt;
          &lt;small class="pf-u-mt-sm pf-u-mb-md"&gt;October 4, 2019&lt;/small&gt;
          &lt;button class="pf-c-button"&gt;Sign up&lt;/button&gt;
        &lt;/div&gt;
        &lt;div class="pf-l-grid__item pf-m-12-col"&gt;
          &lt;h4&gt;&lt;a href="" class="pf-c-title rhd-c-events-hero__item-title"&gt;DevNation Live London&lt;/a&gt;&lt;/h4&gt;
          &lt;small class="pf-u-mt-sm pf-u-mb-md"&gt;October 4, 2019&lt;/small&gt;
          &lt;button class="pf-c-button pf-u-mb-md"&gt;Sign up&lt;/button&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;
