
&lt;div class="pf-l-grid pf-m-gutter"&gt;
  &lt;div class="pf-l-grid__item pf-m-8-col"&gt;
    8 col
  &lt;/div&gt;
  &lt;div class="pf-l-grid__item pf-m-4-col pf-m-2-row"&gt;
    4 col, 2 row
  &lt;/div&gt;
  &lt;div class="pf-l-grid__item pf-m-2-col pf-m-3-row"&gt;
    2 col, 3 row
  &lt;/div&gt;
  &lt;div class="pf-l-grid__item pf-m-2-col"&gt;
    2 col
  &lt;/div&gt;
  &lt;div class="pf-l-grid__item pf-m-4-col"&gt;
    4 col
  &lt;/div&gt;
  &lt;div class="pf-l-grid__item pf-m-2-col"&gt;
    2 col
  &lt;/div&gt;
  &lt;div class="pf-l-grid__item pf-m-2-col"&gt;
    2 col
  &lt;/div&gt;
  &lt;div class="pf-l-grid__item pf-m-2-col"&gt;
    2 col
  &lt;/div&gt;
  &lt;div class="pf-l-grid__item pf-m-4-col"&gt;
    4 col
  &lt;/div&gt;
  &lt;div class="pf-l-grid__item pf-m-2-col"&gt;
    2 col
  &lt;/div&gt;
  &lt;div class="pf-l-grid__item pf-m-4-col"&gt;
    4 col
  &lt;/div&gt;
  &lt;div class="pf-l-grid__item pf-m-4-col"&gt;
    4 col
  &lt;/div&gt;
&lt;/div&gt;
