
&lt;div class="pf-l-grid pf-m-all-6-col-on-sm pf-m-all-4-col-on-md pf-m-all-2-col-on-lg pf-m-all-1-col-on-xl"&gt;
  &lt;div class="pf-l-grid__item"&gt;
    item 1
  &lt;/div&gt;
  &lt;div class="pf-l-grid__item"&gt;
    item 2
  &lt;/div&gt;
  &lt;div class="pf-l-grid__item"&gt;
    item 3
  &lt;/div&gt;
  &lt;div class="pf-l-grid__item"&gt;
    item 4
  &lt;/div&gt;
  &lt;div class="pf-l-grid__item"&gt;
    item 5
  &lt;/div&gt;
  &lt;div class="pf-l-grid__item"&gt;
    item 6
  &lt;/div&gt;
  &lt;div class="pf-l-grid__item"&gt;
    item 7
  &lt;/div&gt;
  &lt;div class="pf-l-grid__item"&gt;
    item 8
  &lt;/div&gt;
  &lt;div class="pf-l-grid__item"&gt;
    item 9
  &lt;/div&gt;
  &lt;div class="pf-l-grid__item"&gt;
    item 10
  &lt;/div&gt;
  &lt;div class="pf-l-grid__item"&gt;
    item 11
  &lt;/div&gt;
  &lt;div class="pf-l-grid__item"&gt;
    item 12
  &lt;/div&gt;
&lt;/div&gt;
