---
layout: compress
---

<!DOCTYPE html>
<html class="pf-m-redhat-font" data-current="{{ page.section }}" lang="en-us">

  {% include head.html %}

  <body class="rhddx line-numbers">
    <div class="pf-c-page">
      {% include header.html %}
      <main class="pf-c-page__main" role="main" tab-index="-1">
        <section class="pf-c-page__main-section pf-m-light pf-m-fill">
          <div class="pf-l-grid pf-c-content">
            <div class="pf-l-grid__item pf-u-py-md pf-u-pl-md" id="main">
              {{ content }}
            </div>
          </div>
        </section>
        <div class="pf-l-grid pf-m-gutter pf-m-12-col pf-u-p-md">
          <div class="pf-l-grid__item">
            <a href="https://pages.github.com/" target="top" style="display: flex; justify-content: center; color: #fff;">
              Hosted on <img src="{{ site.baseurl }}/assets/img/github_pages_logo.svg" alt="GitHub Pages logo" style="width: 170px; margin-left: 8px;">
            </a>
          </div>
          <div class="pf-l-grid__item">
            <a href="https://www.netlify.com/" target="top" style="display: flex; justify-content: center; align-items: center; color: #fff;">
              Tested with <img src="{{ site.baseurl }}/assets/img/netlify-full-logo-dark.png" alt="Netlify logo" style="width: 170px; margin-left: 8px;">
            </a>
          </div>
          <div class="pf-l-grid__item">
            <a href="https://www.netlifycms.org/" target="top" style="display: flex; justify-content: center; align-items: center; color: #fff;">
              Managed by <img src="{{ site.baseurl }}/assets/img/netlify-cms-logo.svg" alt="Netlify CMS logo" style="width: 170px; margin-left: 8px;">
            </a>
          </div>
        </div>
        {% include footer.html %}
      </main>
    </div>
  </body>

</html>
