---
layout: compress
---

<!DOCTYPE html>
<html class="pf-m-redhat-font" data-current="{{ page.section }}" lang="en-us">

  {% include head.html %}

  <body class="rhddx line-numbers">
    <div class="pf-c-page">
      {% include header.html %}
      <div class="pf-c-page__sidebar pf-m-dark">
        <div class="pf-c-page__sidebar-body">
          <nav class="pf-c-nav pf-m-dark" id="expandable-vertical-nav">
            {% include sidenavs/sidenav-design.html component=site.data.design %}
          </nav>
        </div>
      </div>
      <main class="pf-c-page__main" role="main" tab-index="-1">
        <section class="pf-c-page__main-section pf-m-light pf-m-fill">
          <div class="pf-l-grid pf-m-all-12-col pf-m-gutter pf-u-p-md">
            <div class="pf-l-grid__item pf-m-12-col" id="main">
              <h1><i class="fas fa-newspaper"></i> {{ page.title }}</h1>
            </div>
            <div class="pf-l-grid__item pf-m-12-col-on-md pf-u-p-lg overview-example-panel">
              <div class="pf-l-flex">
                <div class="pf-l-flex__item">
                  <h2 class="pf-c-title">{{ page.subtitle }}</h2>
                </div>
                <div class="pf-l-flex__item">
                  <a href="#" class="pf-c-button pf-m-link">View full screen <i class="fas fa-external-link-alt"></i></a>
                </div>
                <div class="pf-l-flex__item pf-m-align-right">
                  <button class="pf-c-button pf-m-link" id="show-creation-tips-action">
                    <span class="show-creation-tips-link">Show creation tips <i class="fas fa-arrow-right"></i></span>
                    <span class="hide-creation-tips-link pf-u-display-none"><i class="fas fa-arrow-left"></i> Hide creation tips</span>
                  </button>
                </div>
              </div>
              <hr class="rhd-c-divider">
              <div class="rhdxx-m-box-shadow">
                {{ content }}
              </div>
            </div>
            <div class="pf-l-grid__item pf-m-3-col-on-lg pf-m-12-col-on-md pf-u-p-lg creation-tips creation-tips-box">
              <h2 class="pf-c-title">Drupal creation</h2>
              <div class="pf-c-tabs pf-m-fill" id="primary-filled">
                <button class="pf-c-tabs__scroll-button" aria-label="Scroll left">
                  <i class="fas fa-angle-left" aria-hidden="true"></i>
                </button>
                <ul class="pf-c-tabs__list">
                  <li class="pf-c-tabs__item pf-m-current">
                    <button class="pf-c-tabs__button" id="compose-tab">Compose</button>
                  </li>
                  <li class="pf-c-tabs__item">
                    <button class="pf-c-tabs__button" id="fields-tab">Fields</button>
                  </li>
                  <li class="pf-c-tabs__item">
                    <button class="pf-c-tabs__button" id="settings-tab">Settings</button>
                  </li>
                </ul>
                <button class="pf-c-tabs__scroll-button" aria-label="Scroll right">
                  <i class="fas fa-angle-right" aria-hidden="true"></i>
                </button>
              </div>
              <section class="pf-c-tab-content" id="compose-tab" role="tabpanel" tabindex="0">
                <img src="https://via.placeholder.com/200x200.png?text=Compose+screenshot">
              </section>
              <section class="pf-c-tab-content" id="fields-tab" role="tabpanel" tabindex="0" hidden>Panel 2</section>
              <section class="pf-c-tab-content" id="settings-tab" role="tabpanel" tabindex="0" hidden>Panel 3</section>
            </div>
          </div>
        </section>
        {% include footer.html %}
      </main>
    </div>

  </body>

</html>
