name: Bump tag version
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.2
        with:
          path: main
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Bump tag version and push
        uses: anothrNick/github-tag-action@1.22.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RELEASE_BRANCHES: main
          WITH_V: false
      - name: Checkout code
        uses: actions/checkout@v2.3.2
      - name: Update changelog
        uses: ScottBrenner/generate-changelog-action@1.0.0
        id: Changelog
        env:
          REPO: ${{ github.repository }}
      - name: Create Release
        id: create_release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          release_name: "Latest release"
          body: |
            Changes in this release:
            ${{ steps.Changelog.outputs.changelog }}
          draft: false
          prerelease: false
